{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<h1> Nous Contactez </h1>

    {# {{ form_start(form) }} #}
        {{ form(form) }}
    {# {{ form_end(form) }} #}

{% endblock %}
